.cvbody__container {
    display: flex;   
}

/* LAYOUT STYLING */
.cvbody__description--summary,
.cvbody__description--profiles,
.cvbody__description--education,
.cvbody__description--technicalskills,
.cvbody__description--workhistory,
.cvbody__description--certification {
    margin-bottom: 20px;
}

.cvbody__description--profiles p,
.cvbody__description--__flex,
.cvbody__description--workhistory__company p,
.cvbody__description--certification p,
.cvbody__description--languages p {
    display: flex;
    flex-direction: column;
}

.cvbody__description--education__flex {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.cvbody__description--workhistory__company:not(:last-child)  {
    margin-bottom: 15px;
}


/* TYPOGRAPHY */
.cvbody__description--profiles a,
.cvbody__description--technicalskills p span,
.cvbody__description--workhistory__company p span,
.cvbody__description--certification p span,
.cvbody__description--languages p span {
    display: flex;
    align-items: center;
    gap: 7px;
    transition: all ease-in-out 0.4s;
    width: fit-content;
}


.cvbody__description--profiles a:hover {
    color: #073B4C;
}

.cvbody__description--profiles a:not(:last-child),
.cvbody__description--technicalskills p span:not(:last-child),
.cvbody__description--workhistory__company p span:not(:last-child),
.cvbody__description--certification p span:not(:last-child),
.cvbody__description--languages p span:not(:last-child)
{
    margin-bottom: 7px;
}

.cvbody__description--workhistory__company h3 {
    margin-bottom: 7px;
}

.cvbody__description--workhistory__company p span {
    align-items: flex-start;
}

.cvbody__description--certification p,
.cvbody__description--languages p {
    margin-top: 7px;
}
